{% extends 'base/base.twig' %}
{% block content %}
    <div class="content">
        <div class="news-container">
            <h1>News</h1>
            {% for news in newsList %}
                <div class="news-list-item">
                    <a href="/news/{{ news.slug }}" class="news-item-title">
                        {{ news.title }}
                    </a>
                    <p class="news-item-date">{{ news.published }}</p>
                    <div class="news-item-content">
                        <a class="news-item-img">
                            <img src="https://katrina.ae/uploads/news/{{ news.image }}">
                        </a>
                        <div class="news-item-descr">
                            {{ news.short_descr }}
                            <a href="/news/{{ news.slug }}">Read more</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="pagination-container">
                <a class="pagination-link step-one {% if paginations.current == 1 %}hidden{% endif %}"
                   href="/news?page={{ paginations.current - 1 }}"><span>Previous</span></a>
                {% for items in paginations.list %}
                    {% if items is not iterable %}
                        <a class="pagination-link">{{ items }}</a>
                    {% elseif items is iterable %}
                        {% for item in items %}
                            <a class="pagination-link {% if paginations.current == item %}active{% endif %}"
                               href="/news?page={{ item }}">{{ item }}</a>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <a class="pagination-link step-one {% if paginations.count == paginations.current %}hidden{% endif %}"
                   href="/news?page={{ paginations.current + 1 }}"><span>Next</span></a>
            </div>
        </div>
    </div>
{% endblock %}
