<footer>
    <div class="content">
        <div class="footer-menu-logo">
            <div class="menu-footer-links">
                <div class="footer-link footer-hide">
                    <a href="/prices/10">{{ app.translations.product }}</a>
                </div>
                <div class="footer-link footer-hide">
                    <a href="/create-your-cake">{{ app.translations.create_your_cake }}</a>
                </div>
                <div class="footer-link footer-hide">
                    <a href="/franchise">{{ app.translations.franchise }}</a>
                </div>
                <div class="footer-link footer-hide">
                    <a href="/companyprofile">{{ app.translations.about_us }}</a>
                </div>
                <div class="footer-link footer-hide">
                    <a href="/contact">{{ app.translations.contact }}</a>
                </div>
                <div class="footer-link">
                    <a href="/terms-conditions">{{ app.translations.terms_conditions }}</a>
                </div>
                <div class="footer-link">
                    <a href="/faq">FAQ`s</a>
                </div>
            </div>
            <div class="footer-logo-block">
                <img src="/assets/images/logos/logo.svg" alt="Katrina logo - best cakes in Dubai, Abu-Dhabi, Sharjah">
            </div>
        </div>
        <div class="copyright-social">
            <div class="copyright">© Copyright Katrina Sweets & Confectionary <span class="current-year"></span>
                <a href="https://awery.aero/">
                    <img src="/assets/images/katrina-badge.svg">
                </a>
            </div>
            <div class="footer-social-links">
                <a class="social-link" href="https://www.facebook.com/katrinasweetsuae" target="_blank">
                    <img src="/assets/images/social/facebook.svg" alt="">
                </a>
                <a class="social-link" href="https://twitter.com/katrinasweets1" target="_blank">
                    <img src="/assets/images/social/twitter.svg" alt="">
                </a>
                <a class="social-link" href="https://www.instagram.com/katrinasweetsuae" target="_blank">
                    <img src="/assets/images/social/instagram.svg" alt="">
                </a>
                <a class="social-link" href="https://foursquare.com/ex​plore?mode=url&near=U​nited%20Arab%20Emirates&a​mp;nearGeoId=720575940382​18493&q=katrina%20swe​ets" target="_blank">
                    <img src="/assets/images/social/foursquare.svg" alt="">
                </a>
                <a class="social-link" href="javascript:void(0);">
                    <img src="/assets/images/social/youtoube.png" alt="">
                </a>
                <a class="social-link" href="https://2gis.ae/dubai/search/katrina%20sweets/tab/firms?queryState=zoom%2F11" target="_blank">
                    <img src="/assets/images/social/2gis.svg" alt="">
                </a>
                <a class="social-link" href="https://www.pinterest.com​/katrinasweets/" target="_blank">
                    <img src="/assets/images/social/pinterest.svg" alt="">
                </a>
                <a class="social-link" href="https://www.zomato.com" target="_blank">
                    <img src="/assets/images/social/zomato.png" alt="">
                </a>
                <a class="social-link" href="https://instashop.com/" target="_blank">
                    <img src="/assets/images/social/instashop.png" alt="">
                </a>
                <a class="social-link" href="https://talabat.com/u​ae/" target="_blank">
                    <img src="/assets/images/social/talabat.png" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
